.mdl-cell.mdl-cell--1-col-phone
.mdl-cell.mdl-cell--2-col-phone
  strong= "#{item.quantity} x #{item.variant.product_name}"
  br
  small= item.variant.display_property_details
.mdl-cell.mdl-cell--1-col-phone.mdl-textfield--align-right
  strong= number_to_currency item.total
/= content_tag :div, class: 'grid-block' do
  = content_tag :div, '', :class => 'small-3 grid-content' do
    = cart_items_form.number_field :quantity, :size=>'1'
  = content_tag :div, :class => 'small-9 grid-content' do
    = content_tag :div, class: 'grid-block' do
      .small-6.grid-content

        small= item.variant.display_property_details
      .small-5.grid-content.text-right


/-#.product-list.grid-block
/  .grid-content.small-4
/  .grid-content.small-8
/    .grid-block
/      .grid-content.small-12
/        %h4
/          = link_to item.variant.product_name, product_path(item.variant.product)
/          %p
/            %small= item.variant.display_property_details
/    .grid-block
/      .grid-content.small-6
/        = number_to_currency item.price
/      .grid-content.small-6
/        = cart_items_form.number_field :quantity, :size=>'1'
/  .grid-content.small-5= link_to item.variant.product_name, product_path(item.variant.product)
/  .grid-content.small-2= number_to_currency item.price
/  .grid-content.small-1= link_to 'x', shopping_cart_item_path(item, :variant_id => item.variant_id),
/    :method => :delete, :class            => 'button tiny alert'
/%tr
/  %td{:align => "right", :style => "padding:2px;", :valign => "top", :width => "18%"}
/    .tiny
/      %b{:name => i}
/        Item added on
/        %br/
/        = item.created_at
/    %div{:id => "remove_#{i}_from_cart"}
/      -#%ul
/        %li
/          = link_to 'Save for Later',                                             |
/            move_to_shopping_cart_item_path(item, :variant_id => item.variant_id, |
/            :item_type_id     => ItemType::SAVE_FOR_LATER_ID),                    |
/            :method           => 'put',                                           |
/            :class            => 'button tiny secondary'

