- title t('.title')
.mdl-grid
  .mdl-cell.mdl-cell--4-col-phone.mdl-cell--8-col-tablet.mdl-cell--12-col-desktop
    - if @orders.empty?
      -#.mdl-typography--display-1-color-contrast.material-icons history
      = render :partial => 'shared/no_record_header', :locals => {:header_description => t('.no_records') }