%h3 Property_set
= form_for @property_set, :url  => admin_merchandise_property_sets_path do |form|
  = render :partial => 'form', :locals => {:form => form}
  = submit_tag "Create", :class  => "button"