- title t('admin.dashboard.title')
.mdl-cell.mdl-cell--4-col
  .mdl-card.mdl-shadow--2dp
    .mdl-card__title
      %h2.mdl-card__title-text
        Auckland Sky Tower
        %br>/
        Auckland, New Zealand
    .mdl-card__media
      %img{:alt => "", :border => "0", :height => "157", :src => "skytower.jpg", :style => "padding:10px;", :width => "173"}/
    .mdl-card__supporting-text
      The Sky Tower is an observation and telecommunications tower located in Auckland,
      New Zealand. It is 328 metres (1,076 ft) tall, making it the tallest man-made structure
      in the Southern Hemisphere.
    .mdl-card__actions
      %a{:href => "http://en.wikipedia.org/wiki/Sky_Tower_%28Auckland%29"} Wikipedia entry
.mdl-cell.mdl-cell--4-col
  .mdl-card.mdl-shadow--2dp
    .mdl-card__title
      %h2.mdl-card__title-text
        Auckland Sky Tower
        %br>/
        Auckland, New Zealand
    .mdl-card__media
      %img{:alt => "", :border => "0", :height => "157", :src => "skytower.jpg", :style => "padding:10px;", :width => "173"}/
    .mdl-card__supporting-text
      The Sky Tower is an observation and telecommunications tower located in Auckland,
      New Zealand. It is 328 metres (1,076 ft) tall, making it the tallest man-made structure
      in the Southern Hemisphere.
    .mdl-card__actions
      %a{:href => "http://en.wikipedia.org/wiki/Sky_Tower_%28Auckland%29"} Wikipedia entry
.mdl-cell.mdl-cell--4-col
  .mdl-card.mdl-shadow--2dp
    .mdl-card__title
      %h2.mdl-card__title-text
        Auckland Sky Tower
        %br>/
        Auckland, New Zealand
    .mdl-card__media
      %img{:alt => "", :border => "0", :height => "157", :src => "skytower.jpg", :style => "padding:10px;", :width => "173"}/
    .mdl-card__supporting-text
      The Sky Tower is an observation and telecommunications tower located in Auckland,
      New Zealand. It is 328 metres (1,076 ft) tall, making it the tallest man-made structure
      in the Southern Hemisphere.
    .mdl-card__actions
      %a{:href => "http://en.wikipedia.org/wiki/Sky_Tower_%28Auckland%29"} Wikipedia entry