.mdl-cell.mdl-cell--4-col-phone.mdl-cell--4-col-tablet.mdl-cell--4-col-desktop.mdl-color--white.mdl-shadow--2dp.coffee-pic
  .mdl-card__media
  %h3.mdl-typography--title= merchant.name
  -#= link_to shopping_merchant_path(merchant), class: 'mdl-card coffee-pic mdl-cell'  do
  .mdl-card__media
  .mdl-card__supporting-text.meta.mdl-color-text--grey-600
    %h3.mdl-typography--title= merchant.name