= link_to shopping_merchant_path(merchant), class: 'mdl-cell mdl-cell--4-col-phone mdl-cell--4-col-tablet mdl-cell--4-col-desktop mdl-color--white mdl-shadow--2dp coffee-pic' do
  .mdl-card__media
  .mdl-cell
    %h3.mdl-typography--title= merchant.name