%meta{:charset => 'utf-8'}
%meta{:content => 'IE=edge', 'http-equiv' => 'X-UA-Compatible'}
%meta{:content => 'width=device-width, initial-scale=1.0', :name => 'viewport'}
/ Add to homescreen for Chrome on Android
%meta{:content => '"yes', :name => 'mobile-web-app-capable'}
-#%link{:href => 'images/android-desktop.png', :rel => 'icon', :sizes => '192x192'}
/ Add to homescreen for Safari on iOS
%meta{:content => 'yes', :name => 'apple-mobile-web-app-capable'}
%meta{:content => 'black', :name => 'apple-mobile-web-app-status-bar-style'}
%meta{:content => t(:site_name), :name => 'apple-mobile-web-app-title'}
-#%link{:href => 'images/ios-desktop.png', :rel => 'apple-touch-icon-precomposed'}
/ Tile icon for Win8 (144x144 + tile color)
-#%meta{:content => 'images/touch/ms-touch-icon-144x144-precomposed.png', :name => 'msapplication-TileImage'}
%meta{:content => '#3372DF', :name => 'msapplication-TileColor'}
/ SEO Information
%meta{content: t('meta_description'), name: :description}
%meta{content: t(:meta_keywords), name: :keywords}
%title= content_for?(:title) ? yield(:title) : t(:site_name)