%meta{:charset => 'utf-8'}
%meta{:content => 'IE=edge', 'http-equiv' => 'X-UA-Compatible'}
%meta{:content => 'width=device-width, initial-scale=1.0', :name => 'viewport'}
%meta{:content => 'h-d4zGZux6SxM3VztHaqfpeedahAEYBc-TcXmHSrKhg', :name => 'google-site-verification'}/
/ Add to homescreen for Chrome on Android
%meta{:content => '"yes', :name => 'mobile-web-app-capable'}
%link{:href => asset_path('brand/logo_192.png'), :rel => 'icon', :sizes => '192x192'}
/ Add to homescreen for Safari on iOS
%meta{:content => 'yes', :name => 'apple-mobile-web-app-capable'}
%meta{:content => 'black', :name => 'apple-mobile-web-app-status-bar-style'}
%meta{:content => t('.site_name'), :name => 'apple-mobile-web-app-title'}
%link{:href => asset_path('brand/logo_192.png'), :rel => 'apple-touch-icon-precomposed'}
/ Tile icon for Win8 (144x144 + tile color)
%meta{:content => asset_path('brand/logo_144.png'), :name => 'msapplication-TileImage'}
%meta{:content => '#B2DFDB', :name => 'msapplication-TileColor'}
/ SEO Information
%meta{content: t('.meta_description'), name: :description}
%meta{content: t('.meta_keywords'), name: :keywords}
%base{:href => '/'}
%title= content_for?(:title) ? yield(:title) : t('.site_name')
= yield :head