-#= link_to shopping_supplier_product_path(@supplier) do
%li.mdl-list__item.mdl-list__item--three-line
  %span.mdl-list__item-primary-content
    %span= item.name
    %span.mdl-list__item-text-body
      = item.description