-title  @merchant.name
= form_for setup_merchant(@merchant), :url  => admin_supplier_path(@merchant) do |form|
  = render :partial => '/admin/merchants/information', :locals => {:form => form}
  = submit_tag "Update", :class  => "button"