- @all_properties.each do |property|
  .property_form.left.span-9.last
    - checked = @prototype.name && @prototype.properties.include?(property)
    %label.mdl-switch.mdl-js-switch.mdl-js-ripple-effect{:for => property.display_name}
      = check_box_tag "prototype[property_ids][]", property.id, checked, :class => 'mdl-switch__input', :id => property.display_name
      %span.mdl-switch__label= property.display_name
    -#= check_box_tag "prototype[property_ids][]", property.id, checked
    -#= property.display_name
    -#(#{property.identifying_name})