= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
  .mdl-grid
    .mdl-cell.mdl-cell--12-col
      .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
        = f.email_field :email, class: 'mdl-textfield__input'
        %label.mdl-textfield__label
          Email...
      .mdl-textfield.mdl-js-textfield.mdl-textfield--floating-label
        = f.password_field :password, class: 'mdl-textfield__input', autocomplete: 'off'
        %label.mdl-textfield__label
          Password...
      = f.submit t('devise.sessions.new.submit_button'), class: 'mdl-cell--12-col mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored'