- title t('.title')
= form_for(@payment_method, :url => myaccount_payment_methods_path(@payment_method)) do |f|
  = render :partial => 'form'
-#= link_to 'Back to List', myaccount_payment_profiles_path, :class => 'button'