- title t('.title')
-#= form_for(@payment_profile, :url => myaccount_payment_profiles_path(@payment_profile)) do |f|
= render :partial => 'form'
-#= link_to 'Back to List', myaccount_payment_profiles_path, :class => 'button'