.grid-block
  = form_tag payments_path, id: 'card-details', class: 'small-12 grid-content medium-8 medium-offset-2' do
    %section.block-list
      %header Credit Card Details
      %ul
        %li
          %input#card-number{'data-stripe': :number, type: :text, pattern:  :'\d*', placeholder: :'Credit Card Number'}
        %li.with-dropdown
          = select_month(Date.today)
          = select_year(Date.today, :start_year => Date.today.year, :end_year => 8.years.from_now.year)
          -#%input#card-exp-month{'data-stripe': :exp_month, :type => "text"}/
          -#%input#card-exp-year{'data-stripe': :exp_year, :type => "text"}/
        %li
          %input#card-cvc{'data-stripe': :cvc, type: :text, pattern:  :'\d*', placeholder: :'CVC'}