%tr
  %td.mdl-data-table__cell--non-numeric
    = "#{items.size} x"
  %td.mdl-data-table__cell--non-numeric
    = items.first.variant.product.name
  %td= number_to_currency(items.first.variant.price * items.size)
