- title 'My Order History'
- content_for :head do
  = stylesheet_link_tag 'app/products'
- unless @orders.present?
  You currently do not have any orders.
%section.block-list
  %header List title
- @orders.each do |order|
  .product-list.product-list.header.grid-block
    .small-9.grid-content.text-left
      %h4= "Order: #{order.number}"
      -#%h4.subheader= order.order_status.name
    .small-2.v-align
      %img.align-center.iconic-color-success{:icon => "circle-check", :size => "medium", "zf-iconic" => ""}/
    .small-1.v-align
      %img.align-center.text-right.iconic-color-secondary{:icon => "chevron", :size => "small", "zf-iconic" => ""}/