- title t('order.title')
.mdl-tabs.mdl-js-tabs.mdl-js-ripple-effect
  .mdl-tabs__tab-bar
    %a.mdl-tabs__tab.is-active{:href => "#starks-panel"}
      %span.mdl-badge{"data-badge" => "4"}
        Pending
    %a.mdl-tabs__tab{:href => "#lannisters-panel"}
      %span.mdl-badge{"data-badge" => "6"}
        Completed
  #starks-panel.mdl-tabs__panel.is-active
    %ul
      %li Eddard
      %li Catelyn
      %li Robb
      %li Sansa
      %li Brandon
      %li Arya
      %li Rickon
  #lannisters-panel.mdl-tabs__panel
    %ul
      %li Tywin
      %li Cersei
      %li Jamie
      %li Tyrion
