- title "Edit #{@user.name}"
= form_for @user, :url => admin_user_path(@user)  do |form|
  = render :partial => '/admin/users/form', :locals => {:form => form}
  = form.submit "Update", :class => 'button'