= link_to shopping_supplier_path(item.id) do
  %li.mdl-list__item.mdl-list__item--three-line
    %span.mdl-list__item-primary-content
      %span= item.name
      %span.mdl-list__item-text-body
        = item.description
    %span.mdl-list__item-secondary-content
      %i.material-icons
        chevron_right
    %hr