- title t('supplier.index.title')
/ Wide card with share menu button
:css
  .demo-card-wide.mdl-card {
    width: 100%;
  }
  .demo-card-wide > .mdl-card__title {
    color: #fff;
    height: 176px;
    background: url('https://deliveroo.com.au/assets/images/restaurant-placeholder.png');
  }
  .demo-card-wide > .mdl-card__menu {
    color: #fff;
  }
  .mdl-card__title {
    align-items: flex-start;
  }
  .mdl-card__actions {
    display: flex;
    box-sizing: border-box;
    align-items: center;
  }
.mdl-grid
  = render @suppliers