- title t('supplier.index.title')
/ Wide card with share menu button
:css
  .demo-card-wide.mdl-card {
    width: 100%;
  }
  .demo-card-wide > .mdl-card__title {
    color: #fff;
    height: 176px;
    background: url('https://deliveroo.com.au/assets/images/restaurant-placeholder.png');
  }
  .demo-card-wide > .mdl-card__menu {
    color: #fff;
  }
  .mdl-card__title {
    align-items: flex-start;
  }
  .mdl-card__actions {
    display: flex;
    box-sizing: border-box;
    align-items: center;
  }
.mdl-tabs.mdl-js-tabs.mdl-js-ripple-effect
  .mdl-tabs__tab-bar
    %a.mdl-tabs__tab.is-active{:href => "#starks-panel"} Delight
    %a.mdl-tabs__tab{:href => "#lannisters-panel"} Speed
    %a.mdl-tabs__tab{:href => "#targaryens-panel"} Price
  #starks-panel.mdl-tabs__panel.is-active
    .mdl-grid
      = render @suppliers
  #lannisters-panel.mdl-tabs__panel
  #targaryens-panel.mdl-tabs__panel
    %ul
      %li Viserys
      %li Daenerys

