- title t('product.index.title')
.mdl-tabs.mdl-js-tabs.mdl-js-ripple-effect
  .mdl-tabs__tab-bar
    %a.mdl-tabs__tab.is-active{:href => '#hot-panel'} Hot
    %a.mdl-tabs__tab{:href => '#cold-panel'} Cold
  #hot-panel.mdl-tabs__panel.is-active
    %ul.product-list-three.mdl-list
      - @supplier.products.select(&:id).flatten.uniq.each do |item|
        = render :partial => 'product', :locals => {:item => item }
  #cold-panel.mdl-tabs__panel
    %ul
      %li Tywin
      %li Cersei
      %li Jamie
      %li Tyrion