- title "Order a #{@product.name}"
.grid-block
  .small-12.grid-content
    -#- if @product.active_variants.empty?
      .grid-block{style: 'background:#fff'}
        .grid-content
          %h2.text-center= t('product.show.product_not_available')
    -#- else
    #product_list.grid-block
      .small-12.grid-content.text-center
        -#%h4= @product.name.titlecase
        %ul.menu-bar
          -#- if @product.active_variants.count > 0
          = @prop
          -#- @prop.each do |var|
            - var.each do |v2|
              %li
                %label
                  = v2

