- title t('supplier.index.product.title')
%button#demo-show-toast.mdl-button.mdl-js-button.mdl-button--raised{:type => "button"} Show Toast
#demo-toast-example.mdl-js-snackbar.mdl-snackbar
  .mdl-snackbar__text
  %button.mdl-snackbar__action{:type => "button"}
:javascript
  (function() {
    'use strict';
    window['counter'] = 0;
    var snackbarContainer = document.querySelector('#demo-toast-example');
    var showToastButton = document.querySelector('#demo-show-toast');
    showToastButton.addEventListener('click', function() {
      'use strict';
      var data = {message: 'Example Message # ' + ++counter};
      snackbarContainer.MaterialSnackbar.showSnackbar(data);
    });
  }());